section#wedding-family

	+sectionHeading('Family', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')

	main
		.container
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto1, alt="family photo")
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto2 alt="family photo")
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto3, alt="family photo")
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto4, alt="family photo")
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto5, alt="family photo")
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto6, alt="family photo")
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto7, alt="family photo")
			.col-sm-6.col-md-3
				.profile-image
					// change family photo here
					img(src=familyPhoto8, alt="family photo")
